.absolute-center {
    position: fixed;
    left: 50%;
    top: 50%;
}

.container input {
    width: 300px;
    clear: both;
    color: black;
    margin-bottom: 12px;
    margin-left: 4px;
}

.container label {
    text-align: right;
    width: 150px;
    clear: both;
}

.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.container button {
    width: 300px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.container button:disabled {
    font-weight: 300;
    color: #606060;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}